* {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    background-color: #9b59b6;
    color: #ffffff;
    margin-bottom: 12px;
    padding: 12px;
}

body {
    background-color: #ecf0f1;
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    text-align: center;
   
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: rgb(49, 61, 61);
    font-size: 17px;
    
    
}
